* {
	font-family: serif;
}

button {
	padding: 3px;
	appearance: auto;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 3px;
	font-size: xx-small;
	background-color: transparent;
	margin: .5rem;
	min-width: 70px;
}

button:hover {
	border-color: black;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
}

footer,
header {
	color: black;
	display: flex;
	flex-direction: row;
	position: fixed;
	height: 50px;
	width: 100%;
	background: white;
	justify-content: center;
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	align-items: center;
}

footer {
	height: 40px;
	left: 0;
	bottom: 0;
	border-top-color: grey;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: none;
}

#reedy-input-container {
	flex-direction: column;
	align-items: center;
}

#reedy-input-container>* {
	margin: .5rem
}

#title {
	font-weight: lighter;
	margin-left: 2rem;
	margin-right: 5rem;
	margin-bottom: .5rem;
	margin-top: .5rem;
	width: 20%
}

#header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 2rem;
	width: 80%;
}

#header-container>span,
#header-container>select {
	margin: .5rem;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 100ch;
	margin: 60px auto 60px auto;
}

#reeding-room-content {
	margin: 1rem;
	line-height: 1.5;
}

.reeder-on {
	background-color: grey;
	color: darkgray
}

.reeder-off {
	background-color: white;
	color: black
}

.reeder-on.sent-on .target {
	background-color: white;
	color: black;
	padding-top: 2.5px;
	padding-bottom: 2.5px
}

.darkTheme * {
	background: #26292d;
	color: #f0f0f0
}

.darkTheme footer,
.darkTheme footer *,
.darkTheme header,
.darkTheme header * {
	background-color: #3f3f3f;
}

.reeder-on header {
	border-bottom-color: #3b3b3b;
	border-bottom-width: .5px
}

.reeder-on footer {
	border-top-color: #3b3b3b;
	border-top-width: .5px
}

.reeder-on.line-on target *,
.reeder-on.line-on target {
	background-color: white;
	color: black;
	padding-top: 2.5px;
	padding-bottom: 2.5px
}

.dev-only *,
.dev-only {
	background: lightpink;
}

span {
	margin: 0;
}

p {
	margin: 0 0 1ch 0;
}

#file-picker {
	display: none;
}

.reeder-on #reading-mode-toggle {
	background-color: gray;
}

/* Help Modal Styling*/
#helpModal {
	flex-direction: column;
	display: none;
	position: fixed;
	z-index: 1;
	left: 15%;
	top: 5%;
	width: 70%;
	height: 90%;
	overflow: auto;
	background-color: lightgray;
	border: darkgreay;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

#helpHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#helpHeader>h2 {
	margin: .5rem;
	font-weight: normal;
}

/* The Close Button */
#hide-help {
	color: darkgrey;
	font-size: 25px;
	font-weight: bolder;
	margin-right: .3rem;
}

#hide-help:hover,
#hide-help:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#help-content {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 3rem;
	margin-right: 3rem
}

#help-content>div {
	margin-top: .2rem;
	margin-bottom: .2rem;
}

#help-content>h3 {
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 1.5rem;
}
